@media (max-width: 1399.98px) { 
    .container {
        max-width: 1090px;
    }
 }

@media (max-width: 1199.98px) {
    .container {
        max-width: 990px;
    }

}
@media (max-width: 991.98px) { 
    header{
        position: static;
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.89);
        border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    }
    /* Hamburger} */

    .navigation {
        display: flex;
        align-items:flex-end;
        flex-direction: column;
        padding: 50px 0 0 0;
    }
    .navigation:last-child {
        align-items: center;
    }
    .burgerbar {
        display: block;
        position: absolute;
        top: 45px;
        right: 50px;
    }
    .nav-links {
        display: none;
    }
    .show {
        display: block;
        
        
    }
    .show.nav-links {
        padding: 50px 0 0 0;
        width: 100%;
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    /* Columns  */
    .section2-col-div {
        width: 32%;
        padding:20px 5px;
    }
    .section2-col-div h2 {
        font-size: 20px;
        margin: 20px 0;
        
    }
    .section2-col div div p {
        font-size: 15px;
        line-height: 1.4rem;
    
    }
    .section2-col-div img {
        max-width: 100px;
        height: 60px;
    }
    /* Product Main  */
    .center-div {
        width: 35%;
    }
    .right-div,
    .left-div {
        width: 31%;
    }
    /* ------------- */
    /* Industry */
    .section5 {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    .section5 div{
        width: 50%;
    }
    .section5 img {
        max-width: 450px;
        width: 100%;
    }

    /* ----------- */
    .information {
        flex-wrap: wrap;
    }
}
 @media (max-width: 769.98px) { 
    /* ------------- */
    .footer-form {
        margin-top: 30px;
      }

  }
@media (max-width: 575.98px) { 

    /* footer  */
    .footer-left-side,
    .footer-right-side,
    .footer-form {
      width: 100%;
      margin-right: 0;
    }
    #footer input {
        width: 250px;
    }
    #footer textarea{
            width: 250px;
    }
}