
@media (min-width: 576px) { 
    .downloads {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin: 25px 0;
      }
      .downloads img {
        border-radius: 15px;
        max-width:160px;
        width: 100%;
        height: 50px;
        
        transition: all ease 0.25s ;
        
      }
      .downloads img:hover {
          transform: scale(1.1);
      }

 }


@media (min-width: 768px) { 
    h1 {
        font-size: 3rem;
        margin-bottom: 35px
    }
    /* Main */
    #main {
        background-color: #D3E0EA;
        position: relative; 
        padding: 15% 0 18%;
      }
      .burgerbar {
        display: none;
      }
      .nav-menu {
        display: flex;
      }
    .mbl {
        max-width: 570px;
        width: 100%;
        min-height: 600px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .main-text {
        margin-top: 150px;
        width: 50%;
        color: rgb(0, 0, 0);
    }
  
    .main-text p {
        font-size: 2.5rem;
        font-family: 'Bebas Neue', cursive;
    }
    .downloads {
        flex-direction: column;
      }
    /* VIDEO SECTION */
    .videosection {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .videosection > * {
        flex-basis: 100%;
    }
    .videosection > * + * {
        margin-left: 2rem;
    }
    /*  */
    .row {
        flex-direction: row;
      }
      #switcher .col-4,.col-8 {
        width:40%;
      }
      #switcher .col-8 {
        margin: 0 auto;
        width: 40%;
      }
}

@media (min-width: 992px) {

    h1 {
        font-size: 4rem;
    }
    /* MAIN */
    #main {
        background-color: #D3E0EA;
        position: relative; 
        padding: 5% 0 10%;
      }
    .main-text p {
        font-size: 3.50rem;
        font-family: 'Bebas Neue', cursive;
    }
    .downloads {
        flex-direction: row;
      }
 }

@media (min-width: 1200px) {
    .mbl {
        max-width: 570px;
        width: 100%;
        min-height: 600px;
        position: absolute;
        bottom: 0;
        right: 150px;
    }
  

 }

@media (min-width: 1400px) { 
    .mbl {
        max-width: 570px;
        width: 100%;
        min-height: 600px;
        position: absolute;
        bottom: 0;
        right: 250px;
    }

 }