@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Defaults */
body {
    background-color: transparent;
}
h1 {
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600;
  margin-bottom: 35px
}
h4 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: green;
}
h5 {
  font-size: 1.5rem;
  color: red;
  margin: 1rem 0;
}
img {
  width: 100%;
}


/* ---------------- */
summary {
  font-size: 1.2rem;
}
details {
  margin: 0.2rem 0;
  padding: 5px ;
  border-radius: 10px;
  cursor: pointer;
}
details:hover {
  background-color: #F4F9F9;
  
}
details > summary {
  list-style: none;
  margin: 0.2rem 0;
  
}
details > summary::-webkit-details-marker {
  display: none;
}
details p {
  font-size: 1.05rem;
  line-height: 1.2;
}
textarea {
  resize: none;
}
/* Header  */
#header{
    background-color: #F4F9F9;
    padding: 10px 0;
    text-transform: uppercase;
}
.logo {
    max-width: 90px;
}
.logo:hover {
  animation: spin 1s ease;
}
@keyframes spin { 
  from { 
      transform: rotate(0deg); 
      opacity: 0;
  } to { 
      transform: rotate(360deg); 
      opacity: 100;
  }
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    color: #000;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
}
.nav-menu {
  display: none;
} 
.burgerbar {
  background-color: #00AF91;
  border: none;
}
.burgerbar:hover {
  background-color: #027967;
}
.offcanvas .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* MAIN */
#main {
  background-color: #D3E0EA;
  position: relative; 
  padding: 10% 0 10px;
}

.downloads img {
  border-radius: 15px;
  max-width:190px;
  width: 100%;
  margin: 10px 0;
  height: 60px;
}
.main-text p {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
}

/*  Kidness */
#kidness{
    padding: 100px 0;
    background-color: #F4F9F9;
    width: 100%;
    color:rgb(0, 0, 0);
    
}

hr {
  margin: 30px 0;
}

.videosection h2 {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}
.videosection p {
  font-size: 18px;
}
/*  */

/* Newsss */
#news {
  padding: 80px 0;
  background-color: #D3E0EA;
}

#news h3 {
  font-size: 30px;
  margin-bottom: 50px ;
}

.split div {
  padding: 4rem 2rem 1rem;
  background-color: #F4F9F9;
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border-radius: 65px 0 65px;
}
.split p {
  margin-top: 2rem;
}



/* Switcher */
#switcher {
  padding: 100px 0;
  background-color: #F4F9F9;
}
.list-group-item-action {
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
}
.list-group .active {
  background-color: tomato;
  border: none;
  
}
.row {
  flex-direction: column;
}
#switcher .col-4,.col-8 {
  width: 100%;
}
#switcher .col-8 {
  margin: 0 auto;
  width: 100%;
}
.card {
  width:auto;
}
.card img {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
/* About US */
#aboutus{
  padding: 80px 0;
}
#aboutus h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
.accordion {
  padding: 80px 0;
}
/* ========== FOOTER =================== */
iframe {
    max-width: 500px;
    width: 100%;
    height: 300px;
}
.site-footer
{
  background-color:#0F1123;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer img {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#49b640;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  margin-bottom: 15px;
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#e0e0e0;
}
.footer-links i {
  margin-right: 15px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#be78d3;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram {
  font-size: 20px;
}
.social-icons a.instagram:hover
{
  background-color:#882b88
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* About US */
.aboutus{
  padding: 80px 0;
}

.aboutus img {
  width: 40%;
  margin: 0 auto;
}

.aboutus h2 {
  margin-bottom: 2.5rem;
}

.col-4  {
  width: 30%;
}
.col-8 {
  width: 70%;
}
.aboutus .list-group-item {
  padding: 5px 10px;
  border-radius: 5px;
}
.aboutus .list-group-item-action {
  margin: 5px 0;
  height: auto;
  max-width: 250px;
  width: 100%;
  border-radius: 15px;
}
.list-group .active {
  background-color: green;
}
.aboutus {
  background-color: #D3E0EA;

}
.bg2 {
  background-color: #F4F9F9;
}
.col-8 {
  background-color: transparent;
}
.aboutus .card {
  background-color: transparent;
}
/* Policies */
#policies li {
  list-style-type: decimal;
}
#policies {
  background-color: #D3E0EA;
}
#policies {
  padding: 50px 0;
}
#policies h2 {
  font-size: 20px;
  margin: 15px 0 25px;
}
/* Help  */
.help {
  padding: 3rem 0;
  background-color: #D3E0EA;
}
.help p {
  color: green;
}

/* CONTACT US  */
.main-block {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 90vh;
}
form {
padding: 25px;
margin: 25px;
box-shadow: 0 2px 5px #f5f5f5; 
background: #f5f5f5; 
}
.contactus .fas {
margin: 25px 10px 0;
font-size: 72px;
color: #fff;
}
.contactus .fa-envelope {
transform: rotate(-20deg);
}
.contactus .fa-at , .fa-mail-bulk{
transform: rotate(10deg);
}
input, textarea {
width: calc(100% - 18px);
padding: 8px;
margin-bottom: 20px;
border: 1px solid #1c87c9;
outline: none;
}
input::placeholder {
color: #666;
}
.contactus button {
width: 100%;
padding: 10px;
border: none;
background: #1c87c9; 
font-size: 16px;
font-weight: 400;
color: #fff;
}
.contactus button:hover {
background: #2371a0;
}    
@media (min-width: 568px) {
.main-block {
flex-direction: row;
}
.left-part, form {
width: 50%;
}
.contactus .fa-envelope {
margin-top: 0;
margin-left: 20%;
}
.contactus .fa-at {
margin-top: -10%;
margin-left: 65%;
}
.contactus .fa-mail-bulk {
margin-top: 2%;
margin-left: 28%;
}
}
.contactus {
  background-color: #D3E0EA;
}
/* -- */
